aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
attrs==25.4.0
beautifulsoup4==4.14.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
curl_cffi==0.13.0
databento==0.66.0
databento-dbn==0.44.0
dnspython==2.8.0
feedparser==6.0.12
frozendict==2.4.7
frozenlist==1.8.0
gnews==0.4.2
idna==3.11
multidict==6.7.0
multitasking==0.0.12
numpy==1.26.4
pandas==2.3.3
peewee==3.18.3
pip_system_certs==5.3
platformdirs==4.5.0
propcache==0.4.1
protobuf==6.33.1
pyarrow==22.0.0
pycparser==2.23
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.8
ta==0.11.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
websockets==15.0.1
yarl==1.22.0
yfinance==0.2.66
zstandard==0.25.0
jinja2==3.1.3
weasyprint==62.3
matplotlib==3.9.3
