CompileFlags:
  CompilationDatabase: .

Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Remove:
      - readability-identifier-naming
      - misc-use-anonymous-namespace
      - readability-braces-around-statements

Index:
  Background: Build
